services:
  mongodb:
    build: ./mongodb
    image: tonyduck/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
    # In docker run:-v mongodb:/data/db   
  catalogue:
    build: 
      context: ./catalogue  
      dockerfile: Dockerfile 
    image: tonyduck/catalogue:v1
    container_name: catalogue
    depends_on: 
    - mongodb
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data  
  mysql:
    build: ./mysql  
    image: tonyduck/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql      
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq      
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123    
  
  user:
    build: ./user
    image: tonyduck/user:v1
    container_name: user 
    depends_on:
    - mongodb
    - redis    

  cart:
    build: ./cart
    image: tonyduck/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue

  shipping:
    build: ./shipping
    image: tonyduck/shipping:v1
    container_name: shipping   
    depends_on:
    - mysql
    - cart     
  payment:
    build: ./payment
    image: tonyduck/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: tonyduck/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment

networks:
  default: 
    driver: bridge
    name: roboshop
    external: false 
    #true if you have created n/w manaullyy using docker n/w command

volumes: 
  mongodb: #equivalent to docker volume create mongodb
  redis:
  mysql:
  rabbitmq: